<footer>
  <div class="footer-buttons" >
            <a href="/" class="btn btn-default btn-xs" role="button">View</a>
            <a href="https://github.com/jlragr/CRUD-App" class="btn btn-default btn-xs" role="button">Source</a>
  </div>
</footer>
 
